@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Poppins:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #f1f1f1;
  --color-dark: #313131;
  --color-accent: #8c3a16;
  --color-copper: #b87333;
}

h1 {
  text-align: center;
  color: var(--color-copper);
  text-shadow: 0px 3px 5px var(--color-accent);
  padding: 1rem 1rem 0;
  font-family: "Monoton", cursive;
  font-size: 30px;
}

h2,
h6 {
  padding-bottom: 1rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h6 {
  font-size: 0.9rem;
}

body {
  background-image: url(./media/dark_wood.png);
  color: var(--color-light);
  font-family: "Bree Serif", serif;
}

.container-fluid {
  min-height: calc(100vh - 250px);
  padding: 0;
}

nav {
  margin: 0 20px;
}

.navbar-brand i {
  color: var(--color-copper);
  font-size: 2rem;
}

.navbar-nav {
  justify-content: space-between;
  align-items: flex-end;
}

.nav-link {
  color: var(--color-copper) !important;
  border-bottom: 2px solid transparent;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--color-light) !important;
  border-bottom: 2px solid var(--color-copper);
}

.nav-item {
  margin: 0 auto;
}

.active {
  color: var(--color-accent) !important;
  transform: scale(1.3);
}

#searchby a {
  color: var(--color-light) !important;
  font-size: 1rem;
}

.card {
  border-radius: 0;
  border: 2px solid #000;
  color: var(--color-dark);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.card-title {
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid var(--color-copper);
}

.btn {
  border: 2px solid var(--color-copper);
  border-radius: 0;
}

#btnrandom {
  padding: 0.5rem 1rem;
  /* margin: .3rem; */
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  color: var(--color-light);
  background-color: var(--color-copper);
  font-size: 1.5em;
}

.header {
  margin-bottom: 1rem;
  text-align: center;
}

.about {
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-copper);
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 3px solid var(--color-accent);
  cursor: pointer;
  z-index: 10;
}

#back-to-top:hover {
  background-color: var(--color-copper);
  color: var(--color-light);
}

/* index.html */
#cocktailList {
  max-width: 1200px;
  margin: 0 auto;
}

#ingredients {
  border-bottom: 1px solid var(--color-copper);
}

#ingredients li {
  padding: 0.4rem;
  list-style-type: square;
}

#instructions {
  padding: 1rem 0.5rem;
}

#cocktailImg {
  border-radius: 0;
}

footer {
  margin: 2rem 0 1rem;
  text-align: center;
  color: var(--color-light);
}

.letter {
  width: 1.5rem;
  margin: 0.3rem;
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  color: var(--color-light);
  background-color: var(--color-copper);
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h6 {
    font-size: 1.2rem;
  }
  .navbar-brand i {
    color: var(--color-copper);
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .letter {
    width: 2rem;
    font-size: 1.5em;
    margin: 0.5rem;
  }
  .nav-item:not(:first-child) {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 0;
  }
  .header {
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  #searchby {
    margin-left: 4rem;
  }
}

/* categories.html */
.category {
  padding: 0.3rem 0.6rem;
  margin: 0.3rem;
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  color: var(--color-light);
  background-color: var(--color-copper);
  font-size: 1em;
}

/* name.html */
#namesearch {
  max-width: 800px;
  margin: 0 auto;
}

#noresults {
  text-align: center;
  color: red;
  padding: 2rem 0;
}

#search {
  border-radius: 0;
}
